* {
    margin: 0;
    padding: 0;
    user-select: none;
}

h1 {
    padding: 10px;
}

p {
    padding: 5px;
    font-size: 20px;
}

img {
    cursor: grab;
}

#wallpaper {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

#jogo-silabas {
    flex-direction: column;
    width: 700px;
    padding: 20px;
}

.print {
    display: inline-block;
    width: 400px;
    height: 70px;
    border: black solid 2px;
    font-size: 50px;
}

.cards1 {
    display: flex;
    flex-direction: column;
    left: 0;
    gap: 20px;
    padding: 5px;
}

.cards2 {
    display: flex;
    flex-direction: column;
    gap: 20px;
    right: 0;
    padding: 5px;
}

.cards3 {
    display: flex;
    justify-content: center;
    padding: 40px;
    gap: 20px;
}

.square {
    width: 100px;
    height: 100px;
    border: black solid 2px;
}

.squareSilaba {
    width: 100px;
    height: 70px;
    display: inline-block;
    border: black solid 2px;
    margin-bottom: 5px;
    font-size: 50px;
    font-weight: bold;
}

.columns {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    gap: 4px;

}

.columns .dragging:nth-child(n+4) {
    border: red solid 5px;
    float: right;
}

.column {
    border: black solid 2px;
    width: 100px;
    height: 313px;
    padding-top: 5px;
}

.dragging {
    cursor: grabbing;
}

.square img:hover {
    transform: scale(1.25, 1.25);
    border: #16d70b solid 2px;
}

#btn {
    text-align: center;
}

button {
    width: 200px;
    height: 50px;
}